/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Contenedor principal tres columnas (sidebar  content  right-panel) */
.container {
  display: flex;
  height: 100vh;
}

/* Columna izquierda */
.sidebar {
  width: 300px;
  background-color: #2f3336; /* Color oscuro */
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative; /* Para ubicar el icono del micro abajo */
  padding: 10px;
}

/* Botones de acciones dentro de la sidebar */
.sidebar .buttons {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px;
  margin-bottom: 20px;
}

.sidebar .buttons button {
  background-color: #44484b;
  border: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar .buttons button.focused,
.sidebar .buttons button:hover {
  background-color: #575b5e;
}

/* Lista de diagramas */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1; /* ocupa el espacio disponible */
  overflow-y: auto; /* scroll si la lista es muy grande */
}

.sidebar li {
  margin-bottom: 10px;
  padding: 8px;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: background 0.2s;
}

.sidebar li:hover {
  background-color: #3d4043;
}

.sidebar li.focused {
  border-color: #007bff;
  background-color: #3d4043;
}

/* Ajustar el contenedor del micrófono para que quede abajo en la sidebar */
.sidebar .microphone-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/* Centro de color blanco */
.content {
  flex: 1; /* Ocupa el espacio central */
  background-color: #fff;
}

/* lado derecho  */
.right-panel {
  width: 300px;
  background-color: #4e5052; /* Gris */
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.explorer {
  background-color: #4e5052;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.plantuml {
  background-color: #2f3336; /* Fondo oscuro */
  color: #fff;
  padding: 10px;
  border-radius: 2px;
  flex: 1; /* ocupa el espacio que falta */
  display: flex;
  flex-direction: column;
}

.plantuml h2 {
  margin-top: 0;
}

.plantuml textarea {
  margin-top: 10px;
  flex: 1; /* Para que crezca verticalmente */
  width: 100%;
  background-color: #f1f3f5;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; 
  padding: 8px;
}

/* microfono */
.microphone-button {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.microphone-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.voice-message {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  max-width: 200px;
  word-wrap: break-word;
  margin-left: 10px;
}
